@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
}

.liner-gradiant::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}